.app {
  background-color: #111;
  color: #fff;
}

.adderStyle {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.buttonStyle {
  border: none;
  background-color: white;
  margin: 2em;
}

.countStyle {
  font-size: 15px;
  color: #555;
  margin: 10px 0px;
  padding: 0px;
}

.totalStyle {
  font-size: 20px;
  color: #555;
  margin: 0px;
  padding: 0px;
}

.valueStyle {
  align-items: center;
}
